.head-of-addflower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  font-variant: small-caps;
}
.head-of-addflower span {
  display: flex;
  flex-direction: row;
}
.head-of-addflower svg {
  font-size: 1.5rem;
  margin-right: 5px;
  color: seagreen;
}
.head-of-addflower p {
  color: #999;
  font-size: 0.9rem;
  margin-top: 10px;
}
.addflower-icons {
  width: 100%;
  height: 4rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.addflower-icons-item {
  width: 8rem;
  height: 3rem;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ecf9fd;
  transition: all 0.3s linear;
}
.addflower-icons-item span {
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #dfebf0;
}
.addflower-div-img {
  width: 100%;
  margin: 20px auto‍;
  height: 220px;
  border-radius: 40px;
  background: url(../../images/flower.jpg);
  background-size: 100%;
  background-repeat: round;
  background-position: center;
  margin: 1rem auto;
  position: relative;
}

.addflower-div-img h4 {
  color: rgb(17, 89, 111);
  position: absolute;
  bottom: 50px;
  left: 38px;
  letter-spacing: 2px;
  font-weight: 400;
}
.addflower-div-img p {
  left: 30px;
  bottom: 25px;
  position: absolute;
  color: rgb(23, 122, 152);
  font-variant: small-caps;
  font-size: 15px;
}
.addflower-div-img span {
  font-size: 1.4rem;
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
}
.addflower-img-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addflower-img-item {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  transition: all 0.3s linear;
}
.addflower-icons-item:hover,
.addflower-img-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s linear;
}
.addflower-img-item span {
  width: 210px;
  margin-left: 25px;
}
.addflower-img-item span p {
  color: #999;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}
.addflower-img-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 20px;
}
