@media only screen and (max-width: 600px) {
  .footer-page {
    position: fixed !important;
    margin: 0 auto !important;
  }
}
.footer-page {
  width: 400px;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  left: 0px;
}
.footer-page a {
  position: sticky;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.15s linear;
}
.footer-page a:hover {
  box-shadow: 0 5px 15px rgba(74, 179, 170, 0.3);
  transition: all 0.2s linear;
}
.active {
  color: #fff;
  background-color: rgb(74, 179, 170);
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
